@use "_variables" as v;
@use "_mixins" as m;

.welcome {
  display: flex;
  position: relative;
  height: 100vh;
  padding: 131px 0;
  &:before{
    content: "";
    flex: 1;
    background: #ebf3f5;
  }
  &:after{
    content: "";
    flex: 1;
    background: #1e2c30;
  }
  .container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    .welcome-content {
      margin-right: 70px;
      width: 508px;

      h4 {
        @include m.h4-title(v.$front-family);
        margin-bottom: 7px;

        &:before {
          content: url("./../img/exclamation.svg");
          margin-right: 9px;
        }
      }

      h1 {
        font-family: v.$front-family;
        font-weight: 700;
        font-size: 70px;
        line-height: 115%;
        letter-spacing: -0.01em;
        color: v.$text-black;
        margin-bottom: 24px;
      }

      p {
        font-family: v.$front-family;
        font-weight: 400;
        font-size: 19px;
        line-height: 170%;
        color: #555;
        margin-bottom: 34px;
      }

      a {
        font-family: v.$front-family;
        font-weight: 800;
        font-size: 14px;
        line-height: v.$line-height125;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        padding: 24px 36px;
        background: #5c8692;

        &:hover {
          background: v.$main-hover-color;
        }
      }
    }
    .img-border {
      border-top: 10px solid #fff;
      border-bottom: 10px solid #fff;
      border-right: 10px solid #fff;
      width: 561px;
      height: 663px;
      position: relative;
      right: 4px;
      img {
        border: 1px solid #000;
        width: 550px;
        height: 545px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #a2b3bf;
        margin: 59px 0;
        position: absolute;
        left: -66px;

      }
    }
  }
}